@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

:root {
  --bg-color: #0a0a0a;
  --light-dark-color: rgba(0, 0, 0, 0.8);
  --white-color: #f1f1f1;
  --gray-color: #A9A9A9;
  --box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.6);
  --body-bg-color: #f0f0f0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8.4rem 2.4rem;
}

li {
  list-style: none;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: var(--gray-color);
}

/* Chrome, Safari, Edge, Opera --- Remove input number default arrow*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p,label {
  line-height: 2.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: .1rem;
  word-spacing: .2rem;
  opacity: .7;
}

iframe {
  width: 100%;
  height: 100vh;
}

.logo-img {
  width: 20rem;
}

.heading {
  text-align: center;
  background: linear-gradient(135deg, #1db954, #00d4ff, #0072ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 1rem 2.2rem;
  background: linear-gradient(135deg, #1db954, #00d4ff, #0072ff);
  border: none;
  border-radius: .8rem;
  cursor: pointer;
  transition: all .5s linear;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  color: black;
}

.btn:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #0072ff, #00d4ff, #1db954);
}

/* Page-title */
.page-title {
  background-image: url("../assets/page-title.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-heading {
  color: #50f1d3;
}

/* Social media */
.social-media {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  & ul {
    display: flex;
    align-items: center;
    gap: 1.4rem;

    & li {
      font-size: 2.2rem;
      cursor: pointer;
    }
  }
}

/* Reusable classes */
.grid {
  display: grid;
}

.grid-two--col {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three--col {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four--col {
  grid-template-columns: repeat(4, 1fr);
}