@media (max-width: 1200px) {
  html {
    font-size: 53.25%;
  }
}

@media (max-width: 1000px) {
  .grid-three--col {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-four--col {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-section .home-about {
    justify-content: center;

    & .about-text {
      bottom: 2rem;
      left: 0;
    }
  }
}

@media (max-width: 870px) {
  .grid-two--col {
    grid-template-columns: 1fr;
  }

  .slide-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--white-color);
    font-size: 2.4rem;
  }

  .nav {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--bg-color);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
  }

  .nav.open {
    height: auto;
    padding: 2rem;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }

  .footer-section {
    & .container {
      flex-direction: column;
      gap: 2.4rem;

      & .logo {
        width: 100%;
      }
    }
  }
}

@media (max-width: 710px) {
  .grid-three--col {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 650px) {
  .grid-four--col {
    grid-template-columns: 1fr;
  }

  .about-section .home-about {
    flex-direction: column;

    & .about-text {
      position: relative;
    }
  }
}
@media (max-width: 425px) {
  .contact-section {
    & .contact-details {
      padding: 2.4rem 6.4rem 2.4rem 2.4rem;
    }
  }
}